<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/genetic.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/text_style.css">
    <link rel="stylesheet" href="../css/checkbox.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../css/animation.css">
    <title>Генетичский алгоритм</title>
    <link rel="shortcut icon" href="favicon2.ico" type="image/x-icon">
</head>
<body>
<div class="nav">
    <aside>
        <ul class="nav_block">
            <li><a href="../../index.html"><i class="fas fa-home"></i> Главная</a></li>
            <li><a href="path_finder.html"><i class="fas fa-clone"></i> Поиск пути</a>
            <li>
            <li><a href="genetic.html"><i class="fas fa-dna"></i> Генетический алгоритм</a>
            <li>
            <li><a href="ants_basic.html"><i class="fas fa-bug"></i> Муравьиный алгоритм</a>
            <li>
            <li><a href="clustering.html"><i class="fas fa-cubes"></i> Кластеризация</a>
            <li>
            <li><a href="neural_network.html"><i class="fas fa-network-wired"></i> Нейронная сеть</a>
            <li>
        </ul>
    </aside>
</div>

<div class="main">
    <div class="main_block">
        <div class="description">
            <h3>Генетический алгоритм<br></h3>
            <a>Данный алгоритм решает задачу коммивояжера, используя генетический алгоритм.</a>
            <div>
                <button id="startButton">Начать выполнение</button>
            </div>


            <div id="log_block">
                <h6 id="log">Алгоритм не запущен</h6>
            </div>
        </div>

        <div class="action">
            <h3>Действия с полем:</h3>
            <div class="currentAction">
                <h6>Текущее действие:&nbsp</h6>
                <h6 id="current_action_view"></h6>
            </div>

            <div id="fieldButtons">
                <button id="addPointButton" data-mode="city">Установить город</button>
                <button id="randomizeButton" data-mode="remove_city">Сгенерировать случайно</button>
                <button id="removePointButton" data-mode="remove_city">Удалить город</button>
                <button id="clearButton" data-mode="clear">Очистить</button>
            </div>

            <div class="valueView">
                <h6>Количество городов:&nbsp</h6>
                <h6 id="totalCitiesView">10</h6>
            </div>

            <div class="valueView">
                <h6>&nbsp&nbsp2</h6>
                <input id="changeTotalCitiesInput" type="range" min="2" max="50" step="1">
                <h6>50</h6>
            </div>

            <div class="valueView">
                <h6>Текущая скорость:&nbsp</h6>
                <h6 id="speedView">1</h6>
            </div>

            <div class="valueView">
                <h6>0.1</h6>
                <input id="changeSpeedInput" type="range" min="0.1" max="10" step="0.05">
                <h6>10</h6>
            </div>

            <div class="fieldSize">
                <h6 style="margin-top: 3px; margin-right: 12px">Только лучший путь:&nbsp</h6>
                <input type="checkbox" id="bestViewChecker" class="toggle" checked>
                <label for="bestViewChecker"></label>
            </div>
        </div>
    </div>

    <div class="canvas_block" id="canv">
        <canvas id="canvas"></canvas>
    </div>

    <div class="main_block">
        <div class="info">
            <h3>Текущие состояния:</h3>

            <div class="currentCities">
                <h6>Количество городов:&nbsp</h6>
                <h6 id="cities_number">0</h6>
            </div>

            <div class="currentBest">
                <h6>Число улучшений:&nbsp</h6>
                <h6 id="best_number"></h6>
            </div>

            <div class="currentIteration">
                <h6>Номер итерации:&nbsp</h6>
                <h6 id="num_iteratin"></h6>
            </div>

            <div class="currentPathLength">
                <h6>Лучшая длина маршрута:&nbsp</h6>
                <h6 id="best_path"></h6>
            </div>
        </div>

        <div class="danger_block" style="margin-top: 1%;">
            <h3>Изменяющиеся параметры:</h3>

            <div class="fieldSize">
                <h6 style="margin-top: 3px">Задать размер автоматически:&nbsp</h6>
                <input type="checkbox" id="autoSizingChecker" class="toggle dangerParam" checked = 1>
                <label for="autoSizingChecker"></label>
            </div>

            <div class="valueView">
                <h6>Размер популяции:&nbsp</h6>
                <h6 id="populationSizeView" class="dangerParamView">Автоматически</h6>
            </div>

            <div class="valueView">
                <h6>1</h6>
                <input disabled class="dangerParam" id="changePopulationSizeInput" type="range" min="1" max="500" step="1">
                <h6>500</h6>
            </div>

            <div class="valueView">
                <h6>Популяция на город:&nbsp</h6>
                <h6 id="autoPopulationSizeView">1</h6>
            </div>

            <div class="valueView">
                <h6>1</h6>
                <input id="changeAutoPopulationSizeInput" type="range" min="1" max="10" step="1">
                <h6>10</h6>
            </div>

            <div class="valueView">
                <h6>Вероятность мутаций:&nbsp</h6>
                <h6 id="mutationView">1</h6>
            </div>

            <div class="valueView">
                <h6>0</h6>
                <input id="changeMutationInput" type="range" min="0" max="1" step="0.01">
                <h6>1</h6>
            </div>

            <div class="valueView">
                <h6>Максимальное число поколений:&nbsp</h6>
                <h6 id="generationSizeView" class="dangerParamView">5000</h6>
            </div>

            <div class="valueView">
                <h6>100</h6>
                <input id="changeGenerationSizeInput" type="range" min="100" max="10000" step="1">
                <h6>10000</h6>
            </div>
        </div>
    </div>
</div>
<div class="picture">
    <img class="jibril" src="../img/flying.png" alt="">
</div>
<script src="../js/genetic/handler.js"></script>
<script src="../js/genetic/genetic.js"></script>
<script src="../js/genetic/functions.js"></script>
<script src="../js/main.js"></script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
