<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/solution_tree.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/text_style.css">
    <link rel="stylesheet" href="../css/checkbox.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../css/animation.css">
    <title>Дерево решений</title>
</head>
<body>
<div class="nav">
    <aside>
        <ul class="nav_block">
            <li><a href="../../index.html"><i class="fas fa-home"></i> Главная</a></li>
            <li><a href="path_finder.html"><i class="fas fa-clone"></i> Поиск пути</a>
            <li>
            <li><a href="genetic.html"><i class="fas fa-dna"></i> Генетический алгоритм</a>
            <li>
            <li><a href="ants_basic.html"><i class="fas fa-bug"></i> Муравьиный алгоритм</a>
            <li>
            <li><a href="clustering.html"><i class="fas fa-cubes"></i> Кластеризация</a>
            <li>
            <li><a href="solution_tree.html"><i class="fas fa-tree"></i> Дерево решений</a>
            <li>
            <li><a href="neural_network.html"><i class="fas fa-network-wired"></i> Нейронная сеть</a>
            <li>
        </ul>
    </aside>
</div>

<div class="main">
    <div class="main_block">
        <div class="description">
            <h3>Дерево решений<br></h3>
            <a>Данный алгоритм генерирует дерево решений на основе csv данных.</a>
            <div>
                <button id="startButton">Начать поиск</button>
            </div>

            <div>
                <button id="buildTree">Построить дерево</button>
            </div>

            <div id="log_block">
                <h6 id="log">Алгоритм не запущен</h6>
            </div>
        </div>

        <div class="setDeep">
            <div class="currentDeep">
                <h6>Максимальная глубина:&nbsp</h6>
                <h6 id="fieldDeepView"></h6>
            </div>

            <div class="fieldDeep">
                <h6>1</h6>
                <input class="fieldDeep" id="fieldDeep" type="range" min="1" max="100">
                <h6>100</h6>
            </div>
        </div>
    </div>

    <div class="tree_block">
        <ul class="tree" id="tree"></ul>
    </div>

    <div class="params">
        <div class="csv">
            <h3>Ввод csv данных</h3>
            <h6 style="margin-top: 3px">Разделитель:&nbsp</h6>

            <input type="radio" id="сhoice1" value="email">
            <label for="сhoice1">Запятая</label>

            <input type="radio" id="choice2" value="phone">
            <label for="choice2">Точка с запятой</label>

            <input type="radio" id="choice3" value="mail">
            <label for="choice3">Пробел</label>

            <textarea id="csv"></textarea>
        </div>

        <div class="predict">
            <h3>Ввод csv данных</h3>

            <textarea id="predict"></textarea>
        </div>
    </div>

</div>
<div class="picture">
    <img class="jibril" src="../img/flying.png" alt="" style="transform: scale(0.8) translateY(200px) !important;">
</div>
<script src="../js/solution_tree/handler.js"></script>
<script src="../js/solution_tree/tree.js"></script>
<script src="../js/main.js"></script>
</body>
</html>