.title {
    font-style: italic;
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 15%;
    padding: 20px 20px 20px 20px;
}

.description {
    font-style: italic;
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 5%;
    margin-top: 15%;
    padding: 20px 20px 20px 20px;
}

.main {
    display: flex;
}
