body {
    justify-content: center;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.nav {
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    width: 90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

ul.nav_block {
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

ul.nav_block li {
    display: inline-block;
    color: gray;
    margin-right: 50px;
    padding: 0.1%;
    transition: transform .4s ease;
}

ul.nav_block a {
    text-decoration: none;
    display: inline-block;
    color: gray;
}

ul.nav_block li:hover, ul.nav_block a:hover {
    color: #6D2749;
    text-decoration: none;
    transform: scale(1.3);
}
