.main {
    display: flex;
}

.main_block {
    width: 30%;
}

.description, .instruction, .control, .probability_block,.micro_canvas_block{
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 1%;
    padding: 20px 20px 20px 20px;
}

.probability_block,.micro_canvas_block{
    margin-top: 2.5%;
    margin-left: 3% !important;
    width: 100%;
}
.micro_canvas_block{
  height: 200px
}

#micro_canvas{
    height: 100%
}

.control div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control button {
    width: 60%;
    transition: all .4s ease;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.control button#pause {
    border-radius: 10px;
    background-color: lightgreen;
    border: 2px solid forestgreen;
}

.control button#pause:hover {
    background-color: forestgreen;
    border: 2px solid lightgreen;
    transform: scale(0.95);
}


.control button#clear {
    border-radius: 10px;
    background-color: palevioletred;
    border: 2px solid darkred;
}

.control button#clear:hover {
    background-color: darkred;
    border: 2px solid palevioletred;
    transform: scale(0.95);
}

.canvas_block {
    margin-top: 0.3%;
    width: 40%;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-left: 10px;
    background-color: aliceblue;
}
